body.swym-ready {
  .c-product-card__wishlist-button {
    display: block;
  }
  .s-header__wishlist {
    display: block !important;
  }
  .s-mobile-menu__wishlist {
    display: flex !important;
  }
  .s-main-product__wishlist-button {
    display: flex !important;

    &--mobile {
      @media screen and (min-width: 768px) {
        display: none !important;
      }
    }

    &--desktop {
      display: none !important;

      @media screen and (min-width: 768px) {
        display: flex !important;
      }
    }
  }
  .s-account-navigation__links-slide--wishlist {
    display: block;
  }
  .s-account-overview__block--wishlist {
    display: block;
  }
  .c-variant-picker__wishlist-button {
    display: block;
  }
}

.s-header {
  position: fixed;
  background: #F9B287;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.2s ease;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);

  &.is-hidden-venn-app {
    display: none !important;
    visibility: none !important;
  }

  &.hide {
    top: -80px;
  }

  &.transition-disable {
    transition: none;
  }

  &--homepage {
    background: transparent;
    box-shadow: none;

    & * {
      color: #f9f8f8;
    }

    & .s-header__item span {
      color: #f9f8f8;
    }

    & svg {
      & g path {
        fill: #f9f8f8;
      }
      & path {
        fill: #f9f8f8;
      }
    }

    .s-header__wishlist svg {
      & path {
        fill: transparent;
        stroke: #f9f8f8;
      }
    }

    .s-header__cart-counter {
      background-color: #f9f8f8;
      color: #1d1d1d;
    }
  }

  &.bg-filled {
    background: #F9B287;

    & svg {
      & g path {
        fill: #1d1d1d;
      }
      & path {
        fill: #1d1d1d;
      }
    }

    .s-header__wishlist svg {
      & path {
        fill: transparent;
        stroke: #1d1d1d;
      }
    }

    & * {
      color: #1d1d1d;
    }

    & .s-header__item span {
      color: #1d1d1d;
    }

    & .s-header__cart-counter {
      background-color: #1d1d1d;
      color: #f9f8f8;
    }
  }

  & .hide-mobile {
    display: none;
    @media screen and (min-width: 1000px) {
      display: flex;
    }
  }

  & .hide-desktop {
    display: flex;
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }

  &--rtl {
    direction: rtl;

    & .s-header__cart-counter {
      right: unset;
      left: -7px;
    }
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    @media screen and (min-width: 1000px) {
      padding-inline: 32px;
    }
  }

  &__logo-wrapper {
    display: flex;
    height: 100%;
    width: 120px;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    visibility: visible;
    opacity: 1;
    transition: all 250ms ease;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 73px;
    min-height: 40px;
    width: 73px;

    @media screen and (min-width: 1000px) {
      min-width: 84px;
      width: 84px;
      min-height: 46px;
    }

    & svg {
      width: 100%;
    }

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__monogram {
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease;
    position: absolute;
    left: calc(50% - 15px);
    right: auto;
    min-width: 30px;
    min-height: 41px;

    &.show {
      visibility: visible;
      opacity: 1;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__left {
    column-gap: 24px;
  }

  &__right {
    column-gap: 12px;

    @media screen and (min-width: 1000px) {
      column-gap: 8px;
    }
  }

  &__switcher {
    margin-inline-end: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;

    &:first-child {
      column-gap: 12px;
    }

    & > span {
      color: #1d1d1d;
      font-family: var(--font-body);
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }

  &__wishlist {
    display: none !important;
  }

  &__account-button {
    display: flex;
  }

  &__cart-button {
    display: flex;
    position: relative;
  }

  &__cart-counter {
    position: absolute;
    bottom: 0;
    right: -7px;

    display: none;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: center;

    background-color: #1d1d1d;
    border-radius: 50%;

    color: #f9f8f8;
    text-align: center;
    font-family: var(--font-body);
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    pointer-events: none;

    &.is-active {
      display: flex;
    }
  }
}
